.details_info {
    padding: 3rem;
    background: #FFFFFF;

    .container {
        // @include container;

        .row {
            display: flex;
            justify-content: space-between;

            .left {
                width: 730px;
                height: 100%;
                padding: 15px 20px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

                h1,
                p,
                h2,
                button {
                    margin-top: 1rem;
                    color: #191c1e;
                }
                .job-description {
                    white-space: pre-line;
                  }
            }

            .right {
                width: 350px;
                height: 100%;
                padding: 15px 20px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

                h1 {
                    margin-top: 1rem;
                    color: #191c1e;
                }

            }
        }
    }
}