.container {
    padding-top: 100px;
}

.details_info {
    padding: 3rem;
    background: #FFFFFF;

    .container {
        // @include container;

        .row {
            display: flex;
            justify-content: space-between;

            .left {
                width: 670px;
                height: 100%;
                margin-left: 53px;
                padding: 15px 20px;
                box-shadow: 1px 2px 1px 2px #6d6c6c;
                line-height: 30px;

                h1,
                p,
                h2,
                button {
                    margin-top: 1rem;
                    margin-left: 2px;
                    color: #191c1e;
                }

                .job-description {

                    white-space: pre-line;
                }
            }
            .left-job{
                width: 670px;
                height: 100%;
                margin-left: 53px;
                padding: 15px 20px;
                box-shadow: 1px 2px 1px 2px #6d6c6c;
                line-height: 30px;
            }

            .btn {
                display: block;
                text-decoration: none;
                width: 150px;
                height: 50px;
                text-align: center;
                border-radius: 40px;
                margin-left: 250px;
                // margin:auto 0 auto;
                background-color: #26AE61;
                .link{
                    position: relative;
                    top: 10px;
                    font-size: 17px;
                    color: #FFFFFF;   
                    align-items: center;        
                }
                &:hover{
                    background-color: #237f4b;
                }
            }

            .right {
                width: 500px;
                margin-right: 35px;
                height: 500px;

                padding: 15px 20px;
                box-shadow: 1px 2px 1px 2px #6d6c6c;

                h1 {
                    margin-top: 1rem;
                    color: #191c1e;
                }
                img{
                    height: 400px;
                }
                

            }
        }
    }
}
@media only screen and (max-width: 46.1875em) {
    .row{
        width: 100px;
        flex-direction: column;
       div.job-description{
            width: 80%;
       }
      
    }
   
    div.hero-data{
        
        flex-direction: column;
       
    }
    div.left{
        flex-direction: column;
        border-radius: 10px;
        margin-left: -90px;
        
    }
    div.right{
        margin-left: 50px;
        margin-top: 40px;
    }
   
  }


  @media only screen and (min-width: 46.25em)  and (max-width:63.9375em){
    .row{
        
        flex-direction: column;
      
      
    }
   
    div.hero-data{
        
        flex-direction: column;
        margin-left: -40px;
    }
    div.left{
        flex-direction: column;
        border-radius: 10px;
        
        
    }
    div.right{
        margin-left: 50px;
        margin-top: 40px;
    }
  
   
  }