.container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  .row-search {
   display: grid;
   grid-template-columns: 30% 70%;
   gap: 10px;
   .col-sm-3-{
    // position: absolute;
    // left: -4%;
   }
  }

  .card-search {
    margin-top: 96px;
    border: 1px solid rgb(205, 196, 196);
    border-radius: 5px;
    width: 250px;
    margin-left:99px;
    ul{
      li{
        list-style: none;
        input{
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  button {
    padding: 10px 20px;
    background-color: #26AE61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darkblue;
    }
  }
  label{
    font-size: 17px;
    margin-bottom: 10px;
  }
  .text{
    margin-left: 10px;
  }
  .checkbox{
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    padding-bottom: 40px;
  }
}
// .col-sm-9-{
//   margin-right:-180px;
// }