div.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 30px;
    border: none;
   
    
   }

   .content img{
     width: 50px;
     height: 50px;
     margin-left: 3px;
   }
   .content{
     border: 1px solid rgb(129, 129, 129);
     border-radius: 5px;
     height: 220px;
     width: 100%;
    
   }
   
   .item{
     display: grid;
     grid-template-columns: 12% 75% 13%;
   }
   img.icon{
     width: 100%;
     height: 70%;
     margin-top: 10px;
     
   }
  
   .content{
     padding-top: 5px;
   }
   .adress{
    padding-left: -40px;
    display: flex;
   
   }
   .IconStyle{
    color: black;
   }
   div.inform{
    padding-left: -40px;
    color: black;
    display: flex;
    path{
      color: black;
    }
   }
   .job{
    padding-left: -40px;
    display: flex;
   }
   .job:hover a{
    color: #26AE61;
   }
  
   .time{
    padding-left: -40px;
    display: flex;
    color: black;
   }
   div.company_name{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    a{
      color: black;
      padding-top: 10px;
    }
    img{
      border-radius: 100px;
    }
    
   }
   .item{
    margin-top: 10px;
    margin-left: 10px;
    svg{
      color: black;
    }
   }
  div.content:hover{
    box-shadow: 1px 2px 8px 4px;
    border-color: black;
    
    div.company_name a{
      color:  #26AE61;
      border-bottom: 1px solid black;

    }
  }
  div.content:hover{
    .if {
       div .job:hover{
        div.company_name a{
          color:none;
          border-bottom: none;
          
        }
    }
     }
  }
  
