// .container{
//     margin-top: 70px;
//    border-radius: 5px;
//    box-shadow: 0px 1px 1px 2px;
//    height: 200px;
// }
// trang detail-----------------------------------------
.row_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 70px;
    margin-left: 90px;
}
.card_content:hover{
    transition: background-color 0.3s, border-color 0.3s;
    background-color:#e1e1e1;
    box-shadow: 1px 1px 12px 1px;
}

.card_content{
    width: 150px;
    height: 290px;
    box-shadow: 0px 0px 1px 1px;
    border-radius: 5px;
    align-items: center;
}
.card_content{
    transition: color 1s ease;
}

.container_detail{
    margin-top: 70px;
    margin-left: 90px;
}

.card-img-top-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    
    left: 30px;
}

.ungtuyen{
    margin-left: 50px;
    margin-top: 80px;
}
.company_detail{
    
    height: 330px;
    padding-top: 30px;
    border-radius: 9px;
    margin-left: -40px;
    background-color: #26AE61;
    color: white;
    img{
        margin-left: 30px;
        box-sizing: 30px;
        border-radius: 100px;
    }
    
}

.company_detail:hover{
    box-shadow: 1px 1px 14px 1px;
    background-color: #26AE61 ;
  
  
}
.row-vieclam{
    width: 400px;
   height: 100px;
   margin-top: 30px;
  margin-left: 60px;
   padding-top: 10px;
   padding-left: 10px;
}
div.row-vieclam:hover{
    box-shadow: 1px 1px 12px 1px;
    border-radius: 5px;
    background-color: #e3dede;

}

.job_position{
 font-size: 18px;
   font-weight: bold;
}

.row-vieclam{
    transition: color 2s ease;
}
.row-vieclam:hover{
    box-shadow: 1px 1px 12px 1px;
}
.card-text{
    text-align: center;
    margin-left: 40px;
    text-align: start;
    h5{
        font-size: 15px;
    }
}
.context{
    display: flex;
    margin-top: 40px;
    
    margin-left: 30px;
    h5{
        row-gap: 10px;
        font-size: 20px;
        margin-top: 15px;
        margin-left: 10px;

    }
}
div.row_gioithieu{
    margin-left: -70px;
    h5{
        color: black;
    }
}
p.card-texts{
    margin-left: 30px;
}
.row-vieclam{
    padding-left: 70px;
}


//  scss phần tìm việc làm


.content_tvl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 80px;
    margin-top: 30px;
   
   
    
}
.item_tvl{
    width: 350px;
    height: 260px;
    border: 1px solid rgb(210, 209, 209);
    border-radius: 5px;
   
   
}
.item_tvl:hover{
    box-shadow: 1px 0px 5px 0px;
    background-color: #F0F0F0;
    font-family: 'Courier New', Courier, monospace;
    width: 360px;
    height: 270px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
   
}
.text_tvl{
    text-align: center;
    margin-left: 40px;
    text-align: start;
    font-size: 18px;
    
}
.text_tvl_type{
    text-align: center;
    
    
    border-radius: 20px;
    margin-left: 110px;
    text-align: start;
    font-family:  Calibri;
    width: 116px;
    height: 50px;
    padding-left: 12px;
    padding-top: 10px;
    
    background-color: #FFD8D2;
    h4{
       
        color: #FF7B66;
    }
}
.text_tvl_type:hover{
    h4{
        color: #0d6efd;;
    }
}
div.context h5:hover{
    a{
         color:  #26AE61;
      border-bottom: 1px solid black;
    }
}
h5.text_tvl{
    font-size: 16px;
}
