body {
    height: 100%;
    margin: 0;
  }
  
  .home-header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .home-header-container {
    flex-shrink: 0;
  }
  
  .home-body-container {
    flex-grow: 1;
    min-height: 750px;
  }
  
  footer {
    flex-shrink: 0;
  }