div.card {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  gap: 50px !important;
  padding: 30px !important;
  border: none !important;
}

.content img {
  width: 50px !important;
  height: 50px !important;
  margin-left: 3px !important;
}

.content {
  border: 1px solid rgb(129, 129, 129) !important;
  border-radius: 5px !important;
  height: 220px !important;
  width: 100% !important;
}

.item {
  display: grid !important;
  grid-template-columns: 12% 75% 13% !important;
}

img.icon {
  width: 100% !important;
  height: 70% !important;
  margin-top: 10px !important;
}

.content {
  padding-top: 5px !important;
}

.adress {
  padding-left: -40px !important;
  display: flex !important;
}

.IconStyle {
  color: black !important;
}

div.inform {
  padding-left: -40px !important;
  color: black !important;
  display: flex !important;

  path {
    color: black !important;
  }
}

.job {
  padding-left: -40px !important;
  display: flex !important;
}

.job:hover a {
  color: #26AE61 !important;
}

.time {
  padding-left: -40px !important;
  display: flex !important;
  color: black !important;
}

div.company_name {
  font-size: 18px !important;
  font-weight: bold !important;
  text-decoration: none !important;
  margin-left: 10px !important;

  a {
    color: black !important;
    padding-top: 10px !important;
  }

  img {
    border-radius: 100px !important;
  }
}

.item {
  margin-top: 10px !important;
  margin-left: 10px !important;

  svg {
    color: black !important;
  }
}

div.content:hover {
  box-shadow: 1px 2px 8px 4px !important;
  border-color: black !important;

  div.company_name a {
    color: #26AE61 !important;
    border-bottom: 1px solid black !important;
  }
}

div.content:hover .if div .job:hover {
  div.company_name a {
    color: none !important;
    border-bottom: none !important;
  }
}
