* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_detail {
  // margin-top: 70px ;
  top: 0px;
  left: 0px;
  height: 200px;
  // background: ;
}
.company_detail {
  background: #26ae61;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  .profile-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-img-top-img {
      padding: 10px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
    .card-title {
      margin-top: -7px;
      padding-left: 10px;
      color: #ffff;
    }
  }
  .col-md-6{
    padding-top: 40px;
    .card-text{
      padding: 8px;
      color: #FFFFFF;
      span{
        margin-bottom: 10px;
        h5{
          font-size: 18px;
          color: #FFFFFF;
        }
      }
    }
  }

}

.company-information {
  height: 100vh;
  padding: 40px 36px;
  h3 {
    font-size: 22px;
    font-weight: bold;
  }
  h5 {
    font-size: 20px;
  }
  div {
    margin: 24px 0;
  }
  p.card-text {
    max-width: 750px;
    font-size: 18px;
  }
  .job {
    max-width: 450px;
    height: 100px;
    padding-top: 8px;
    padding-left: 24px;
    .row-vieclam {
      padding: 10px 0px 20px 8px;
      .job_position {
        a {
          text-decoration: none;
          font-size: 18px;
          color: #0d6efd;
          font-weight: bold;
        }
      }
      .card-texts {
        margin: 10px 0;
      }
      &:hover {
        background: #ccc;
        border-radius: 4px;
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }
  .btn-warning {
    margin: 48px 0;
    border: none;
    border-radius: 6px;
    background: #ffc107;
    width: 170px;
    height: 38px;
    line-height: 38px;
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      font-size: 16px;
      color: #0d6efd;
      
    }
  }
}

