.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;

    .header-nav {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .menu-left {
        flex: 1;
    }
    .menu-left, .menu-right {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 15px;
    }
    .menu-item {
        padding-bottom: 5px;
        font-weight: 600;

        &.active {
            border-bottom: 3px solid #017eb7;

            a {
                color: #017eb7;
            }
        }
        a {
            text-decoration: none;
            color: #000;
            transition: all 300ms;
            
            &:hover {
                color: #017eb7;
            }
        }
    }
}