.container--modal{
    position: fixed;
    padding-top: 50px;
    width: 500px;
    height: 570px;
    margin: auto;
    box-shadow: 1px 2px 2px 1px rgb(66, 63, 63);
    left: 35%;
    top: 10%;
    background: rgb(243, 243, 203);
}
.modal--title{
    height: 60px;
    margin-left: 20px;
}
.modal--form{
    width: 450px;
    margin-left: 20px;
}
.form--values{
    height: 50px;
}
.form--value--email{
    height: 50px;
}
.form--button--application{
    display: flex;
    justify-content: center;
    align-items: center;
    .modal--submit{
        height: 50px;
    }
    .modal--cancel{
        height: 50px;
    }
}