.container--form--pass{
    margin-left: 600px;
    width: 500px;
    height: 430px;
    background:#E0ECDE;
    border-radius: 8px;
    margin-top: 200px;
    box-shadow: 2px 1px 1px rgb(32, 32, 32);
}
form{
    margin-top: -110px;
}
.title--form--pass{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.value--button--password{
    margin-top: 30px;
    margin-left: 70px;
    height: 50px;
}
.value--button--confirm{
    margin-top: 30px;
    margin-left: 70px;
}
.data--button{
    width: 350px;
    height: 50px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
    // border: none;
    &::placeholder{
        font-size: 16px;
        padding-left: 10px;
    }
}

.password--error{
    color: red;
}

.confirm{
    margin-left: 70px;
    background: #26AE61;
    font-size: 20px;
    &:hover{
        cursor: pointer;
        color: #fff;
    }
}
.link--back{
    text-align: center;
    align-items: center;
    justify-content: center;
    .color{
        color:#3e5cd3;
    }
    
}

.password--eye{
    position: absolute;
    top: 52%;
    left: 61%;
}
.login--password-toggle {
    position: absolute;
    top: 40%;
    left: 61%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: auto; /* Đảm bảo biểu tượng "mắt" có thể nhấp được */
  }