
.backgroud--image {
    background-image: url('https://c.pxhere.com/photos/3e/d9/apple_coffee_shop_computer_laptop_macbook_pro_mockup_notebook_notes-935970.jpg!d');
    background-size: cover;
    // background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.container--form {
    margin-left: 600px;
    width: 500px;
    height: 400px;
     background: #61606099;
    border-radius: 8px;
    margin-top: 200px;
    box-shadow: 2px 1px 2px 1px rgb(32, 32, 32);}


.title--form {
    padding-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    b{
        color: #fff;
    }
}

.value--button {
    margin-top: 30px;
    margin-left: 70px;
    .data--button{
            width: 350px;
            height: 50px;
            outline: none;
        border-radius: 8px;
        // border: none;
            &::placeholder{
            font-size: 16px;
            padding-left: 10px;
        }
        }
       
    .confirm{
            margin-left: -2px;
            background: #e05b0e;
        &:hover{
                cursor: pointer;
            }
            }
}

.data--button {
    /* Add input field styles */
    display: block;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

.confirm--error {
    /* Add error message styles */
    color: red;
}

.data--button.confirm {
    /* Add button styles */
    display: block;
    width: 70%;
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

.link--back {
    text-align: center;
    align-items: center;
    justify-content: center;
    p{
        color: #fff;
    }
    .color{
        color:deepskyblue;}
}

.color {
    /* Add color styles */
    color: #428bca;
    text-decoration: none;
}