.container--login{
    width: 500px;
    height: 450px;
    background: #FFFF;
    border-radius: 8px;
    margin-left: 550px;
    margin-top: 150px;
    box-shadow: 2px 1px 2px 1px rgb(32, 32, 32);
}
.content--login{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center; 
}
.form--login{
        margin-left: 45px;
        justify-content: center;
        align-items: center;
    .login--email,.login--password{
        width: 400px;
        height: 40px;
        outline: none;
        padding-left: 20px;
        // border: none;
        border-radius: 8px;
        &::placeholder{
            font-size: 14px;
            padding-left: 10px;
        }
    }

  
}
.forgot--pass{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.button--login{
    margin-top: 20px;
  margin-left: 50px;
  width: 400px;
  background: rgb(214, 240, 216);
  height: 50px;
  border-radius: 50px;
  border: none;
  &:hover{
    cursor: pointer;
  }
}
.another--relevent{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.login--password-toggles {
    position: absolute;
    top: 42.5%;
    left: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: auto; /* Đảm bảo biểu tượng "mắt" có thể nhấp được */
  }
  
  .login--password-toggle svg {
    width: 18px;
    height: 18px;
    color: #999; /* Màu sắc của biểu tượng "mắt" */
  }
  
  .login--password-toggle.active svg {
    color: #000; /* Màu sắc của biểu tượng "mắt" khi nút được nhấp */
  }